.g-main {
  padding: 15px 20px;

  .m-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .m-tl {
      font-size: 16px;
      color: #333;
      font-weight: 600;
      flex: 1;
  }

  .m-val {
      font-size: 24px;
      color: #be0000;
      font-weight: 600;
  }

  .m-val>i {
    font-style: normal;
    font-size: 14px;
    color: #333;
  }
}
