.g-login {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 80px auto;
  background: #eee;
  border: 1px solid #ccc;

  .m-tri {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #336699;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
  }

  .m-login {
    background: #ffffff;
    padding: 20px;
  }

  .no-input {
    display: none;
  }

  .m-login-tl {
    font-size: 20px;
    font-weight: 600;
    color: #3366aa;
    margin-bottom: 10px;
    text-align: center;
  }

  .date-picker {
    width: 100%;
    font-size: 14px;
  }

  .input-pwd {
    width: 100%;
    font-size: 14px;
  }

  .ant-input-lg {
    font-size: 14px;
  }

  .steps-wrap {
    width: 100%;
  }

  .ant-steps {
    margin: 0 auto;
  }

  .ant-divider {
    margin: 0;
  }

  .no-bottom {
    margin-bottom: 0;
  }
}

